:root {
  --main-color: #1f1f1f;
  --main-color-1: #a1a1a1;
  --main-color-2: #dddddd;
  --main-color-3: #fc427b;
  --main-bg-color: #f7f7f7;
}

::-webkit-input-placeholder {
  color: var(--main-color);
  opacity: 0.6;
}

::-moz-placeholder {
  color: var(--main-color);
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: var(--main-color);
  opacity: 0.6;
}

html {
  font-size: calc(1em + 0.15vw);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--main-color);
  background: var(--main-bg-color);
}

button {
  border: 0;
  color: inherit;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

textarea {
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: inherit;
}

.preload * {
  transition: none !important;
}

.header .left {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.header .left button {
  margin-right: 0.5rem;
}

.header .right {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.button-add {
  background-image: url('icons/day/plus.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
}

.button-sidebar-open {
  background-image: url('icons/day/burger.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
}

.button-sidebar-close {
  position: fixed;
  background-image: url('icons/day/x.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  right: 1rem;
}

.button-toggle-theme {
  background-image: url('icons/day/theme.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
}

.button-delete {
  visibility: visible;
}

.button-delete::after {
  font-size: 1.2rem;
  content: '×';
  color: var(--main-color);
}

.editor {
  position: fixed;
  top: 4rem;
  padding: 0 1rem;
  width: 100%;
  height: calc(100% - 7rem);
  resize: none;
  outline: none;
  line-height: 1.5;
  visibility: visible;
  opacity: 1;
}

.statusbar {
  color: var(--main-color-1);
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  visibility: visible;
  opacity: 1;
}

.statusbar.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: var(--main-bg-color);
  padding: 1rem;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.2s cubic-bezier(1, 0.01, 0.52, 0.96),
    opacity 0.2s cubic-bezier(1, 0.01, 0.52, 0.96),
    visibility 0.2s cubic-bezier(1, 0.01, 0.52, 0.96);
  overflow-y: auto;
}

.sidebar h1 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.sidebar.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.sidebar .notes {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar .notes li {
  color: var(--main-color-1);
  display: flex;
  line-height: 2.2rem;
  list-style-type: none;
}

.sidebar .notes li:hover {
  color: var(--main-color);
}

.sidebar .notes li.active {
  color: var(--main-color);
}

.sidebar .notes li span {
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.scrollbar {
  visibility: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3px;
  background: var(--main-color-3);
}

@media (min-width: 62em) {
  body {
    overflow-y: hidden;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .app {
    width: 80%;
    height: 100vh;
    border-left: 1px solid var(--main-color-2);
  }

  .header {
    display: flex;
    position: fixed;
    top: 1rem;
    left: calc(20% - 50px - 1.5rem);
  }

  .header .left {
    position: static;
  }

  .header .left button {
    margin-right: 0;
  }

  .header .right {
    position: static;
    margin-left: 0.5rem;
  }

  .button-sidebar-open {
    display: none;
  }

  .button-sidebar-close {
    display: none;
  }

  .button-delete {
    visibility: hidden;
  }

  .editor {
    top: 5rem;
    width: 80%;
    height: calc(100% - 8rem);
    overflow-y: hidden;
  }

  .statusbar {
    left: calc(20% + 1rem);
  }

  .sidebar {
    top: 5rem;
    padding: 0 1rem;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    width: 20%;
    height: calc(100% - 8rem);
    overflow-y: hidden;
  }

  .sidebar h1 {
    margin-top: 0;
  }

  .sidebar .notes li:hover .button-delete {
    visibility: visible;
  }

  .scrollbar {
    visibility: visible;
  }
}
